/* Fonts used in the webpage*/
*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}
 /* Top Header Bar/ Navigation links section */   
.header-bar{
    background-color: #1f2937;
    display: flex;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}
.header-logo{
    color: #f9faf8;
    font-size: 24px;  
    flex:1 1 auto;    
    margin:auto;
    padding: 10px;
}
.links{
    display: flex;
}
.link{
    font-size: 18px;
    color: #e5e7eb;
    flex:1 1 auto; 
    padding: 10px;
    list-style: none;
    flex:1 1 auto;  
}
a{
    color: inherit;
    text-decoration: inherit;
}

/* About website section */
.about-website{
    background-color: #1f2937;
    display: flex;
    flex-wrap: wrap;
    padding-top: 50px;
    height: auto;
    width: 100%;
}
.about-leftside{
    padding-left: 10%;
    width: 50%;
}
.about-main-text{
    color:#f9faf8;
    font-size: 48px;
}
.about-sub-text{
    color: #e5e7eb;
    font-size: 18px;
    padding-right: 10px;
}
.sign-up-button{
    background-color:#3882f2;
    border-color: #f9faf8;
    border-radius: 10px;
    padding:10px 30px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #e5e7eb;
}
.about-right-side{ 
    display: flex;
    align-items: center;
    justify-content: center;
}
.image{
    border: 5px solid lightblue;
    border-radius: 10px;
    height:auto;
    margin:10%;
    width: 20%;
    flex :1 1 auto;
    flex-wrap: wrap;   
}
             
/* Random Information section */
.random-info{
    background-color: #f9faf8;
    height: auto;
    width: auto;
}
.random-title{
    padding : 5px 10px 5px 10px;
    font-size: 36px;
    color: #1f2937;
    text-align:center; 
    width: auto; 
}
.random-details{
    width: auto;
    display:flex;
    flex-wrap: wrap;
    justify-content: center;   
    box-sizing: border-box;
}
.random-image{    
    width: 250px;
    height: auto; 
    text-align:center;       
}
img{
    border: 5px solid lightblue;
    border-radius: 10px;
   
}
/*  Quote Section */
.quote-section{
    background-color: #e5e7eb;
    width: auto;
    height: auto;
    display: flex;    
    justify-content: center; 
    padding: 25px;   
}
.quote-subsection{
    width:60%;
}
.quote{
    color: #1f2937;
    font-size: 36px;
    font-style:italic;
}
.quote-subtext{
    font-weight: bold;
    text-align: right;
}
/* Sign Up bar section */
.call-to-action-section{
    width: auto;
    height:auto;
    background-color:#f9faf8;
    display: flex;
    padding: 75px;
    align-items: center;
    justify-content: center;
 }
 .call-to-action{
     background-color: #3882f6;
     width: 75%;
     height: 40%;
     display: flex;
     flex-wrap: wrap;
     padding-left: 30px;
     padding-top: 10px;
 } 
 .action-text{
     color: #f9faf8;   
 }
 .action-button{
     align-items:center;     
     display: flex;
     margin-right: auto;
     margin-left: auto;
 }
 .sign-up-button-two{
    background-color:#3882f2;
    border-color: #f9faf8;
    border-radius: 10px;
    padding: 10px 50px;
    text-align: center;
    font-weight: 700;
    font-size: 18px;
    color: #e5e7eb;
 }
 /* Footer Section */
 .footer-section{
     height: auto;
     width: auto;
     background-color: #1f2937;
     text-align: center;
     color: #f9faf8; 
     padding: 5px;
}